#myName {
    height: 100%; 
    width: 78%;
}

#profilepic {
    width: 170px;
}

.images {
    height: 90%;
    width: 100%;
}

.imgText {
    position: absolute; 
    bottom: 10%; 
    width: 100%;
}

body {
    background-image: url(img/white-waves.png);
}

#copyright {
    font-size: 10px;
    padding-bottom: 10px;
}
